:root {
    --background-color: #081F27;
    --background-highlight-color: #ffffff;
    --text-dark-blue-color: #081f27;
    --text-blue-color: #072D3F;
    --text-color: #ffffff;
    --main-yellow: #E4C85A;
}

@mobile-max: ~'only screen and (max-width: 767px)';
@tablet-up: ~'only screen and (min-width: 768px)';

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Akrobat;
}

.desktop-hide {
    @media @tablet-up {
        display: none !important;
    }
}

.mobile-hide {
    @media @mobile-max {
        display: none !important;
    }
}

h2 {
    color: var(--main-yellow);
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
}

.menu-mobile {
    display: flex;
    justify-content: flex-end;
    padding: 20px 25px 0 25px;

    .inst {
        margin-right: 18px;

        img {
            display: block;
            height: 21px;
        }
    }
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    padding: 0;

    background: none;
    border: none;
    -webkit-appearance: none;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background: var(--text-color);
    }

    &.close-menu {
        span {
            background: var(--text-dark-blue-color);
        }
    }
}

.menu {
    @media @mobile-max {
        position: absolute;
        z-index: 5;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 42px;

        width: 100%;
        background: var(--main-yellow);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;

        &.opened {
            transform: translateY(0);
        }

        .menu-btn {
            position: absolute;
            top: 20px;
            right: 25px;
        }

        a, p {
            box-sizing: border-box;
            margin: 0;
            height: 60px;
            line-height: 60px;

            font-size: 24px;
            font-weight: 700;

            color: var(--text-blue-color);
            text-decoration: none;
            text-align: center;

            &:not(:last-child) {
                border-bottom: 1px solid white;
            }
        }

        p {
            span {
                font-size: 14px;
                color: var(--text-color);
            }
        }
    }
}

.logo {
    padding: 0 0 0 21px;

    h1 {
        margin: 0;
        font-size: 68px;
        font-family: VAG Round Cyrillic;
    }

    h3 {
        margin: 0;
        font-size: 28px;
        color: var(--main-yellow);
    }
}

.slogan {
    position: relative;

    .cosmonaut {
        position: absolute;
        top: -100px;
        right: 10px;

        width: 302px;
        height: 367px;
        background: url("/images/cosmonaut_small.svg") center no-repeat;
    }

    .moon {
        position: absolute;
        top: 60px;
        right: 220px;

        width: 131px;
        height: 138px;
        background: url("/images/moon-big.svg") center no-repeat;
    }

    h3 {
        margin: 0;
        padding: 320px 24px 0 24px;

        font-size: 36px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;

        &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 27px;
            margin-left: 10px;

            background: url("images/lightning.svg") center no-repeat;
        }
    }
}

.links {
    margin-top: 57px;

    p {
        margin: 0 0 25px 0;
        padding: 0 35px;

        color: var(--main-yellow);
        font-size: 18px;
        text-align: center;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-around;

        box-sizing: border-box;
        width: 180px;
        height: 55px;

        margin: 0 auto;
        padding: 0 22px;
        border-radius: 25px;

        font-size: 24px;
        color: var(--text-color);
        text-decoration: none;

        img {
            width: 25px;
            margin-right: auto;
        }

        span {
            margin-right: auto;
        }

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        &.telegram {
            background: linear-gradient(36.1deg, #1E86C7 17.56%, #37ADE1 82.2%);
        }

        &.viber {
            background: linear-gradient(223.36deg, #8E24AA 21.61%, #6C0F85 77.17%);
        }
    }
}

.advantages {
    margin-top: 80px;

    header {
        margin-bottom: 60px;

        h2 {
            margin: 0;
            padding: 0 22px;
        }

        p {
            margin: 45px 0 0 0;
            padding: 0 30px;
            font-size: 18px;
            font-weight: 800;
            line-height: 22.5px;
        }
    }

    article {
        padding: 0 50px;
        text-align: center;

        &:not(:last-of-type) {
            margin-bottom: 100px;
        }

        .icon {
            margin: 0 auto;
            width: 70px;
            height: 70px;
            border-radius: 10px;
            background: var(--main-yellow) center no-repeat;
        }

        h3 {
            margin: 17px 0 24px;
            font-weight: 800;
            font-size: 36px;
            line-height: 40px;
        }

        p {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 35px;
        }
    }

}

.app {
    margin-top: 100px;

    h4 {
        padding: 0 30px;

        text-align: center;
        color: var(--main-yellow);
        font-weight: 800;
        font-size: 24px;
        line-height: 35px;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 22px;
        margin: 0 25px;


        background: var(--background-highlight-color);
        border: 3px solid var(--main-yellow);
        border-radius: 30px;
        text-decoration: none;

        span {
            display: inline-block;
        }

        .text {
            color: var(--text-dark-blue-color);
            font-weight: 900;
            font-size: 20px;
            line-height: 30px;
        }

        .image {
            position: relative;
            width: 65px;
            height: 65px;
            background: var(--main-yellow) radial-gradient(50% 50% at 50% 50%, #FFEFBD 20.31%, #E4C85A 86.98%);
            box-shadow: 0 4px 20px rgba(70, 56, 0, 0.4);
            border-radius: 100%;

            &:after {
                content: '';
                display: inline-block;
                width: 65px;
                height: 65px;
                background: url('/images/cosmonaut_round.png') no-repeat center 0;
            }
        }
    }
}

.adaptation {
    margin: 100px 25px 0 25px;

    p {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 35px;
    }
}

.program {
    margin-top: 150px;
    padding: 0 25px;

    h2 {
        margin: 0 0 40px 0;
    }
}

.accordion-wrapper {
    margin-top: 15px;

    &.opened {
        h4 {
            color: var(--main-yellow);
        }

        .accordion {
            border: 3px solid var(--main-yellow);
            box-shadow: 0 3px 20px rgba(131, 102, 11, 0.45);
        }

        header {
            padding-bottom: 5px;
            border-bottom: 1px solid var(--main-yellow);
        }

        .arrow-icon {
            transform: scale(-1);
        }

        .content {
            height: auto !important;
        }
    }

    h4 {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .accordion {
        box-sizing: border-box;
        padding: 15px 20px;

        border: 3px solid var(--background-highlight-color);
        background: var(--background-highlight-color);
        color: var(--text-dark-blue-color);

        border-radius: 15px;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h3 {
            margin: 0 -20px;
            padding: 0 20px;
            font-size: 24px;
        }

        .content {
            padding-top: 15px;
            height: 0;
            overflow: hidden;
            
            font-weight: 700;
            font-size: 14px;
        }

        ul {
            margin: 0;
        }
    }
}

.faq {
    margin-top: 150px;
    padding: 0 25px;
}