:root {
    --background-color: #081F27;
    --text-dark-blue-color: #081F27;
    --text-blue-color: #072D3F;
    --text-color: #ffffff;
    --main-yellow: #E4C85A;
}

@mobile-max: ~'only screen and (max-width: 767px)';
@tablet-up: ~'only screen and (min-width: 768px)';

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.desktop-hide {
    @media @tablet-up {
        display: none !important;
    }
}

.mobile-hide {
    @media @mobile-max {
        display: none !important;
    }
}

.menu-mobile {
    display: flex;
    justify-content: flex-end;
    padding: 20px 25px 0 25px;

    .inst {
        margin-right: 18px;

        img {
            display: block;
            height: 21px;
        }
    }
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    padding: 0;

    background: none;
    border: none;
    -webkit-appearance: none;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background: var(--text-color);
    }

    &.close-menu {
        span {
            background: var(--text-dark-blue-color);
        }
    }
}

.menu {
    @media @mobile-max {
        position: absolute;
        z-index: 5;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 42px;

        width: 100%;
        background: var(--main-yellow);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;

        &.open {
            transform: translateY(0);
        }

        .menu-btn {
            position: absolute;
            top: 20px;
            right: 25px;
        }

        a, p {
            box-sizing: border-box;
            margin: 0;
            height: 60px;
            line-height: 60px;

            font-size: 24px;
            font-weight: 700;

            color: var(--text-blue-color);
            text-decoration: none;
            text-align: center;

            &:not(:last-child) {
                border-bottom: 1px solid white;
            }
        }

        p {
            span {
                font-size: 14px;
                color: var(--text-color);
            }
        }
    }
}

.logo {
    width: 300px;
    padding: 0 0 0 21px;

    h1 {
        margin: 0;
        font-size: 68px;
    }

    h3 {
        margin: 0;
        font-size: 28px;
        color: var(--main-yellow);
    }
}

.slogan {
    position: relative;

    .cosmonaut {
        position: absolute;
        top: -100px;
        right: 20px;

        width: 302px;
        height: 367px;
        background: url("/images/cosmonaut_small.svg") center no-repeat;
    }

    .moon {
        position: absolute;
        top: 60px;
        right: 230px;

        width: 131px;
        height: 138px;
        background: url("/images/moon-big.svg") center no-repeat;
    }

    p {
        margin: 0;
        padding: 320px 24px 0 24px;

        font-size: 36px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;

        &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 27px;
            margin-left: 10px;

            background: url("images/lightning.svg") center no-repeat;
        }
    }
}

.links {
    margin-top: 57px;

    h3 {
        margin: 0 0 25px 0;
        padding: 0 35px;

        color: var(--main-yellow);
        font-size: 18px;
        text-align: center;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-around;

        box-sizing: border-box;
        width: 180px;
        height: 55px;

        margin: 0 auto;
        padding: 0 22px;
        border-radius: 25px;

        font-size: 24px;
        color: var(--text-color);
        text-decoration: none;

        img {
            width: 25px;
            margin-right: auto;
        }

        span {
            margin-right: auto;
        }

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        &.telegram {
            background: linear-gradient(36.1deg, #1E86C7 17.56%, #37ADE1 82.2%);
        }

        &.viber {
            background: linear-gradient(223.36deg, #8E24AA 21.61%, #6C0F85 77.17%);
        }
    }
}