@import '../../source/scss/null';
@import '../../source/scss/fonts';
@import '../../source/scss/mixins';

// ===========================PATTERNS==================================
%intro-title {
  font-family: "DeathStar", sans-serif;
  font-size: 140px;
  line-height: 140px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);

  @include _1200 {
    margin-bottom: 10px;
    font-size: 75px;
    line-height: 75px;
  }

  @include _992 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 10px;
  }

  @include _768 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 0;
  }

  @include _576 {
    font-size: 75px;
    line-height: 75px;
  }

  @include _480 {
    font-size: 60px;
    line-height: 70px;
  }

  @include _320 {
    font-size: 40px;
    line-height: 40px;
  }
}

%intro-subtitle {
  font-family: 'FuturaDemiC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.795em;
  text-transform: uppercase;
  color: #E4C85A;

  @include _992 {
    font-size: 30px;
  }

  @include _768 {
    font-size: 24px;
    margin-bottom: 70px;
  }

  @include _576 {
    font-size: 18px;
    margin-bottom: 0;
  }

  @include _480 {
    font-size: 20px;
  }

  @include _320 {
    font-size: 9.5px;
  }
}

// ==============================================================================================================
html {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081F27;
    background-image: url('/images/background1.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 30px;
      text-align: center;

      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      .intro__logo {
        margin: 0 auto;

        @media only screen and (min-device-width : 320px) and (max-device-width : 1200px) and (orientation : landscape) {
          padding-top: 240px;
        }
      }

      .intro__title-block {
        margin-bottom: 20px;

        .intro__title {
          @extend %intro-title;
        }

        .intro__subtitle {
          @extend %intro-subtitle;
        }

        .intro-since {
          @extend %intro-subtitle;
          font-size: 14px;
        }
      }

      .intro__text {
        margin-bottom: 30px;
        font-family: 'FuturaBookC', sans-serif;
        font-size: 30px;
        line-height: 40px;
        color: #CFCFCF;

        @media (max-width: 376px) {
          margin-bottom: 20px;
        }

        @include _320 {
          font-size: 20px;
          line-height: 20px;
        }

        .intro__text-1 {
          margin-bottom: 30px;

          @media (max-width: 376px) {
            margin-bottom: 20px;
          }

          &::after {
            content: '';
            display: block;
            height: 1px;
            background: #fff;
            width: -webkit-calc(160px + 87 * (100vw / 1200));
            width: calc(160px + 87 * (100vw / 1200));
            margin-top: -webkit-calc(5px + 11 * (100vw / 1200));
            margin-top: calc(5px + 11 * (100vw / 1200));
            margin-left: auto;
            margin-right: auto;
          }

        }

        .intro__text-2 {
          font-weight: 700;
        }
      }

      .intro__btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 50px;
        .to__instagram {
          background: linear-gradient(96.51deg, #5358C5 1.64%, #6542B7 24.54%, #A3408F 65.08%, #F7D37F 98.51%);
        }

        .to__telegram {
          background: linear-gradient(36.1deg, #1E86C7 17.56%, #37ADE1 82.2%);
        }

        .to__site {
          background: linear-gradient(36.1deg, #E4C85A 17.56%, #E4C85A 82.2%);
        }

        button {
          border-radius: 40px;
          overflow: hidden;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          width: 71px;
          height: 71px;
          position: relative;
          // margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 376px) {
            margin-bottom: 15px;
          }

          &:hover {
            transform: scale(1.05);
          }

          span {
            &:first-of-type {
              font-size: 36px;
              line-height: 41px;
              color: #FFFFFF;
            }
          }

          .flare {
            position: absolute;
            top: 0;
            height: 100%;
            width: 45px;
            transform: skewX(45deg);
            left: -150%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
            animation: flareAnimation 2s infinite linear;
          }

          @keyframes flareAnimation {
            0% {
              left: -150%;
            }

            100% {
              left: 150%;
            }
          }
        }
      }
    }
  }
}
